<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/dynaimctable.css">
    <script>
        function addcol() {
            var row = document.getElementById("demo");
            var table = document.getElementById("modify");
            var clone = row.cloneNode(true);
            table.appendChild(clone);

        }
        function subcol() {
            document.getElementById("modify").deleteRow(0);

        }

        function addrow() {
            let tbl = document.getElementById('demo1');

            for (let i = 0; i < tbl.rows.length; i++) {
                let r = tbl.rows[i];
                r.insertCell(0);
            }
        }
        function subrow() {
            let tbl = document.getElementById('demo1');

            for (let i = 0; i < tbl.rows.length; i++) {
                let r = tbl.rows[i];
                r.deleteCell(0);
            }
        }
    </script>
</head>

<body>
    <h2>Name: Sakshi Vora Date:01-02-2024 EmployeeId: 24DEV043</h2>
    <br>
    <br>
    <button onclick="addcol()" style="height: 50px; width: 60px;">AddRow</button>

    <button onclick="subcol()" style="height: 50px; width: 60px;">SubRow</button>
    <br>
    <br>
    <button onclick="addrow()" style="height: 50px; width: 60px;">AddCol</button>

    <button onclick="subrow()" style="height: 50px; width: 60px;">SubCol</button>
    <br>
    <br>
    <table border="1" cellpadding="50" id="demo1">
        <tbody id="modify">
            <tr id="demo">
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </tbody>

    </table>

    <br>
    <br>

</body>

</html>