<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awan Hoster</title>
    <link rel="stylesheet" href="/css/practical2.css">
</head>

<body>
    <div class="container">
        <div class="m-container">
            <header>
                <div>
                    <img src="/image/practical2/cloud-sunny.png" alt="Avan Hostar" class="logo">
                    <p>Awan</p>
                    <p>Hoster</p>
                </div>

                <nav class="nav1">
                    <span>Hosting</span>
                    <span>Integration</span>
                    <span>Pricing</span>
                    <span>Community</span>
                    <button>Login</button>
                </nav>

            </header>
            <hr>
            <section class="section1">

                <div class="s1_1">
                    <div>Hosting Services for Your Website </div>
                    <p>Easily and reliably host a website for your business, organization, or project while retaining
                        complete control over your site's underlying infrastructure.</p>
                    <div>
                        <button>Get Started</button>
                        <button>Get Migration Help</button>
                    </div>
                    <img src="/image/practical2/arrow-down.png" alt="" class="img1">
                </div>
                <div class="s1">
                    <img src="/image/practical2/portrait-confident-bearded-man-using-laptop-computer 1.png"
                        alt="Loading...">
                </div>
            </section>
        </div>
        <div class="contain">
            <section class="section2">
                <div>
                    <p>Those Who Have Experienced The Best Performance</p>
                </div>
                <div>
                    <img src="/image/practical2/Telkom Indonesia Logo.png" alt="Telkom..">
                    <img src="/image/practical2/Jetstar Airways Logo.png" alt="Jetstar..">
                    <img src="/image/practical2/Nescafe Logo.png" alt="Nescafe..">
                    <img src="/image/practical2/Lenovo Logo.png" alt="Lenovo..">
                </div>
            </section>
        </div>
        <div class="contain4">
            <section class="section3">
                <div>
                    <img src="/image/practical2/Group 3552.png" alt="">
                </div>
                <div>
                    <div>
                        <p>Boost the Speed of Your Website</p>
                    </div>
                    <div class="div3">
                        <div>
                            <span>Faster Build Process</span>
                            <p>We can speed up the process of creating your website</p>
                        </div>
                        <div>
                            <span>Faster Delivery</span>
                            <p>Our purchases and Services can be completed quickly</p>
                        </div>

                    </div>
                    <div>
                        <div>
                            <span>Faster Access Speed</span>
                            <p>Superb network infrastructure and hardware to support fast and stable access</p>
                        </div>
                        <div>
                            <span>24/7 Faster Service</span>
                            <p>We have response time of less than 180 seconds, available 24 hours a day </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="contain1">
            <section class="section4">
                <div>
                    <p>Host Any Website With Our Fully Managed Services</p>
                </div>
                <div class="div4">
                    <div class="card2">
                        <div class="bg1">
                            <div class="bg2">
                                <img src="/image/practical2/cloud-sunny.png" alt="">
                                <p>Cloud Hosting</p>
                            </div>
                            <div>
                                <p>Cloud Hosting is a good fit for those of you who are building personal websites,
                                    portfolios, blogs , and other systems.</p>
                            </div>
                        </div>
                        <div class="bg3">
                            <p>$5.9</p>
                            <sub>/month</sub>
                        </div>
                        <button class="bg4">More Detail</button>
                    </div>
                    <div class="card2">
                        <div class="bg1">
                            <div class="bg2">
                                <img src="/image/practical2/buildings.png" alt="">
                                <p>Corporate</p>
                            </div>
                            <div>
                                <p>Providing business-related hosting services, such as websites or management systems
                                    for companies.</p>
                            </div>
                        </div>
                        <div class="bg3">
                            <p>$19</p>
                            <sub>/month</sub>
                        </div>
                        <button class="bg4">More Detail</button>
                    </div>
                    <div class="card2">
                        <div class="bg1">
                            <div class="bg2">
                                <img src="/image/practical2/driver.png" alt="">
                                <p>Cloud VPS</p>
                            </div>
                            <div>
                                <p>A scalable, fully-managed virtual private server we build and optimize specifically
                                    for your website.</p>
                            </div>
                        </div>
                        <div class="bg3">
                            <p>$29</p>
                            <sub>/month</sub>
                        </div>
                        <button class="bg4">More Detail</button>
                    </div>
                    <div class="card2">
                        <div class="bg1">
                            <div class="bg2">
                                <img src="/image/practical2/monitor-mobbile.png" alt="">
                                <p>Dedicated</p>
                            </div>
                            <div>
                                <p>Your mission-critical website requires the performance and security of a dedicated
                                    physical server.</p>
                            </div>
                        </div>
                        <div class="bg3">
                            <p>$119</p>
                            <sub>/month</sub>
                        </div>
                        <button class="bg4">More Detail</button>
                    </div>
                </div>
            </section>
        </div>
        <div class="contain3">
            <section class="section6">
                <div class="class1">
                    <div class="tablinks" onclick="opentab(event,'WordPress')" id="defaultOpen">
                        <span><img src="/image/practical2/WordPress.com Logo.png" alt="WordPress"></span>
                        <span>Wordpress</span>
                    </div>
                    <div class="tablinks" onclick="opentab(event,'Magento')">
                        <span><img src="/image/practical2/magento.png" alt=""></span>
                        <span>Magento</span>
                    </div>
                    <div class="tablinks" onclick="opentab(event,'Laravel')">
                        <span><img src="/image/practical2/laravel.png" alt=""></span>
                        <span>Laravel</span>
                    </div>
                    <div class="tablinks" onclick="opentab(event,'PHP')">
                        <span><img src="/image/practical2/php1.png" alt=""></span>
                        <span>PHP</span>
                    </div>

                </div>
                <div class="class2" id="WordPress">
                    <div>
                        <p>The Best Managed Cloud Hosting for WordPress</p>
                    </div>
                    <div>
                        <p>We live and breath WordPress. our managed hosting for wordpress and woocommerence takes away
                            cloud server related hassless so you can sacle your website the way you want. </p>
                    </div>
                    <div>
                        <div>
                            <div>
                                <span><img src="/image/practical2/Vector.png" alt=""></span>
                                <span>Unlimited Bandwidth</span>
                            </div>
                            <div>
                                <span><img src="/image/practical2/Vector.png" alt=""></span>
                                <span>Turbo Power</span>
                            </div>
                        </div>
                        <div>
                            <div>
                                <span><img src="/image/practical2/Vector.png" alt=""></span>
                                <span>Network Speed</span>
                            </div>
                            <div>
                                <span><img src="/image/practical2/Vector.png" alt=""></span>
                                <span>Xtreme Freedom</span>
                            </div>
                        </div>
                    </div>
                    <button>More Detail</button>
                </div>
                <div class="class2" id="Magento">
                    <div>
                        <p>The Best Managed Cloud Hosting for Magento</p>
                    </div>
                    <div>
                        <p>We live and breath Magento. our managed hosting for Magento and woocommerence takes away
                            cloud server related hassless so you can sacle your website the way you want. </p>
                    </div>
                    <div>
                        <div>
                            <div>
                                <span><img src="/image/practical2/Vector.png" alt=""></span>
                                <span>Unlimited Bandwidth</span>
                            </div>
                            <div>
                                <span><img src="/image/practical2/Vector.png" alt=""></span>
                                <span>Turbo Power</span>
                            </div>
                        </div>
                        <div>
                            <div>
                                <span><img src="/image/practical2/Vector.png" alt=""></span>
                                <span>Network Speed</span>
                            </div>
                            <div>
                                <span><img src="/image/practical2/Vector.png" alt=""></span>
                                <span>Xtreme Freedom</span>
                            </div>
                        </div>
                    </div>
                    <button>More Detail</button>
                </div>
                <div class="class2" id="Laravel">
                    <div>
                        <p>The Best Managed Cloud Hosting for Laravel</p>
                    </div>
                    <div>
                        <p>We live and breath Laravel. our managed hosting for Laravel and woocommerence takes away
                            cloud server related hassless so you can scale your website the way you want. </p>
                    </div>
                    <div>
                        <div>
                            <div>
                                <span><img src="/image/practical2/Vector.png" alt=""></span>
                                <span>Unlimited Bandwidth</span>
                            </div>
                            <div>
                                <span><img src="/image/practical2/Vector.png" alt=""></span>
                                <span>Turbo Power</span>
                            </div>
                        </div>
                        <div>
                            <div>
                                <span><img src="/image/practical2/Vector.png" alt=""></span>
                                <span>Network Speed</span>
                            </div>
                            <div>
                                <span><img src="/image/practical2/Vector.png" alt=""></span>
                                <span>Xtreme Freedom</span>
                            </div>
                        </div>
                    </div>
                    <button>More Detail</button>
                </div>
                <div class="class2" id="PHP">
                    <div>
                        <p>The Best Managed Cloud Hosting for PHP</p>
                    </div>
                    <div>
                        <p>We live and breath PHP. our managed hosting for PHP and woocommerence takes away cloud server
                            related hassless so you can sacle your website the way you want. </p>
                    </div>
                    <div>
                        <div>
                            <div>
                                <span><img src="/image/practical2/Vector.png" alt=""></span>
                                <span>Unlimited Bandwidth</span>
                            </div>
                            <div>
                                <span><img src="/image/practical2/Vector.png" alt=""></span>
                                <span>Turbo Power</span>
                            </div>
                        </div>
                        <div>
                            <div>
                                <span><img src="/image/practical2/Vector.png" alt=""></span>
                                <span>Network Speed</span>
                            </div>
                            <div>
                                <span><img src="/image/practical2/Vector.png" alt=""></span>
                                <span>Xtreme Freedom</span>
                            </div>
                        </div>
                    </div>
                    <button>More Detail</button>
                </div>
            </section>
        </div>
        <div class="contain6">
            <section class="section7">
                <div>
                    <div>
                        <p>How Our Customers Feel About Us</p>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                            style="fill: rgba(0, 0, 0, 1);">
                            <path d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z"
                                id="prev"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                            style="fill: rgba(0, 0, 0, 1);">
                            <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
                                id="next"></path>
                        </svg>
                    </div>
                </div>
                <div class="slider" id="slider_show">
                    <div class="slider_show">
                        <div class="img2">
                            <img src="/image/practical2/profile.png" alt="Loading..">
                        </div>
                        <div>
                            <img src="/image/practical2/Star 2.png" alt="">
                            <img src="/image/practical2/Star 2.png" alt="">
                            <img src="/image/practical2/Star 2.png" alt="">
                            <img src="/image/practical2/Star 2.png" alt="">
                            <img src="/image/practical2/Star 2.png" alt="">
                        </div>
                        <div>
                            <p>Thanks to the Awan Hoster, I was guided step-by-step until it was finished</p>
                        </div>
                        <div>
                            <p>Guy Hawkins</p>
                            <p>Manager</p>
                        </div>
                    </div>
                    <div class="slider_show">
                        <div class="img2">
                            <img src="/image/practical2/profile.png" alt="Loading..">
                        </div>
                        <div>
                            <img src="/image/practical2/Star 2.png" alt="">
                            <img src="/image/practical2/Star 2.png" alt="">
                            <img src="/image/practical2/Star 2.png" alt="">
                            <img src="/image/practical2/Star 2.png" alt="">
                            <img src="/image/practical2/Star 2.png" alt="">
                        </div>
                        <div>
                            <p>Thanks to the Awan Hoster, I was guided step-by-step until it was finished</p>
                        </div>
                        <div>
                            <p>Guy Hawkins</p>
                            <p>Manager</p>
                        </div>
                    </div>
                    <div class="slider_show">
                        <div class="img2">
                            <img src="/image/practical2/profile.png" alt="Loading..">
                        </div>
                        <div>
                            <img src="/image/practical2/Star 2.png" alt="">
                            <img src="/image/practical2/Star 2.png" alt="">
                            <img src="/image/practical2/Star 2.png" alt="">
                            <img src="/image/practical2/Star 2.png" alt="">
                            <img src="/image/practical2/Star 2.png" alt="">
                        </div>
                        <div>
                            <p>Thanks to the Awan Hoster, I was guided step-by-step until it was finished</p>
                        </div>
                        <div>
                            <p>Guy Hawkins</p>
                            <p>Manager</p>
                        </div>
                    </div>
                    <div class="slider_show">
                        <div class="img2">
                            <img src="/image/practical2/profile.png" alt="Loading..">
                        </div>
                        <div>
                            <img src="/image/practical2/Star 2.png" alt="">
                            <img src="/image/practical2/Star 2.png" alt="">
                            <img src="/image/practical2/Star 2.png" alt="">
                            <img src="/image/practical2/Star 2.png" alt="">
                            <img src="/image/practical2/Star 2.png" alt="">
                        </div>
                        <div>
                            <p>Thanks to the Awan Hoster, I was guided step-by-step until it was finished</p>
                        </div>
                        <div>
                            <p>Guy Hawkins</p>
                            <p>Manager</p>
                        </div>
                    </div>
                    <div class="slider_show">
                        <div class="img2">
                            <img src="/image/practical2/profile.png" alt="Loading..">
                        </div>
                        <div>
                            <img src="/image/practical2/Star 2.png" alt="">
                            <img src="/image/practical2/Star 2.png" alt="">
                            <img src="/image/practical2/Star 2.png" alt="">
                            <img src="/image/practical2/Star 2.png" alt="">
                            <img src="/image/practical2/Star 2.png" alt="">
                        </div>
                        <div>
                            <p>Thanks to the Awan Hoster, I was guided step-by-step until it was finished</p>
                        </div>
                        <div>
                            <p>Guy Hawkins</p>
                            <p>Manager</p>
                        </div>
                    </div>
                    <div class="slider_show">
                        <div class="img2">
                            <img src="/image/practical2/profile.png" alt="Loading..">
                        </div>
                        <div>
                            <img src="/image/practical2/Star 2.png" alt="">
                            <img src="/image/practical2/Star 2.png" alt="">
                            <img src="/image/practical2/Star 2.png" alt="">
                            <img src="/image/practical2/Star 2.png" alt="">
                            <img src="/image/practical2/Star 2.png" alt="">
                        </div>
                        <div>
                            <p>Thanks to the Awan Hoster, I was guided step-by-step until it was finished</p>
                        </div>
                        <div>
                            <p>Guy Hawkins</p>
                            <p>Manager</p>
                        </div>
                    </div>

                </div>
            </section>
        </div>
        <div class="contain2">
            <section class="section5">

                <div>
                    <div class="cl1">Try It Now and Stop Doubting Anything Else</div>
                    <p class="cl2">With Awan Hoster's Money Back Guarantee, you can try the best service reliability</p>
                    <div class="s1">
                        <button>Start Free Trial</button>
                        <button>See all Plans</button>
                    </div>
                </div>
                <div>
                    <img src="/image/practical2/Group 1000008788.png" alt="Loading...">
                </div>
            </section>
        </div>

        <div class="div2">
            <footer>
                <div class="q2">
                    <div class="q1">
                        <img src="/image/practical2/logo-white.png" alt="Avan Hostar" class="logo">
                        <p>We provide you with the best hosting solutions for your website.</p>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                                style="fill: rgb(255, 255, 255);">
                                <path
                                    d="M13.397 20.997v-8.196h2.765l.411-3.209h-3.176V7.548c0-.926.258-1.56 1.587-1.56h1.684V3.127A22.336 22.336 0 0 0 14.201 3c-2.444 0-4.122 1.492-4.122 4.231v2.355H7.332v3.209h2.753v8.202h3.312z">
                                </path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                                style="fill: rgb(255, 255, 255);">
                                <path
                                    d="M19.633 7.997c.013.175.013.349.013.523 0 5.325-4.053 11.461-11.46 11.461-2.282 0-4.402-.661-6.186-1.809.324.037.636.05.973.05a8.07 8.07 0 0 0 5.001-1.721 4.036 4.036 0 0 1-3.767-2.793c.249.037.499.062.761.062.361 0 .724-.05 1.061-.137a4.027 4.027 0 0 1-3.23-3.953v-.05c.537.299 1.16.486 1.82.511a4.022 4.022 0 0 1-1.796-3.354c0-.748.199-1.434.548-2.032a11.457 11.457 0 0 0 8.306 4.215c-.062-.3-.1-.611-.1-.923a4.026 4.026 0 0 1 4.028-4.028c1.16 0 2.207.486 2.943 1.272a7.957 7.957 0 0 0 2.556-.973 4.02 4.02 0 0 1-1.771 2.22 8.073 8.073 0 0 0 2.319-.624 8.645 8.645 0 0 1-2.019 2.083z">
                                </path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                                style="fill: rgb(255, 255, 255);">
                                <path
                                    d="M11.999 7.377a4.623 4.623 0 1 0 0 9.248 4.623 4.623 0 0 0 0-9.248zm0 7.627a3.004 3.004 0 1 1 0-6.008 3.004 3.004 0 0 1 0 6.008z">
                                </path>
                                <circle cx="16.806" cy="7.207" r="1.078"></circle>
                                <path
                                    d="M20.533 6.111A4.605 4.605 0 0 0 17.9 3.479a6.606 6.606 0 0 0-2.186-.42c-.963-.042-1.268-.054-3.71-.054s-2.755 0-3.71.054a6.554 6.554 0 0 0-2.184.42 4.6 4.6 0 0 0-2.633 2.632 6.585 6.585 0 0 0-.419 2.186c-.043.962-.056 1.267-.056 3.71 0 2.442 0 2.753.056 3.71.015.748.156 1.486.419 2.187a4.61 4.61 0 0 0 2.634 2.632 6.584 6.584 0 0 0 2.185.45c.963.042 1.268.055 3.71.055s2.755 0 3.71-.055a6.615 6.615 0 0 0 2.186-.419 4.613 4.613 0 0 0 2.633-2.633c.263-.7.404-1.438.419-2.186.043-.962.056-1.267.056-3.71s0-2.753-.056-3.71a6.581 6.581 0 0 0-.421-2.217zm-1.218 9.532a5.043 5.043 0 0 1-.311 1.688 2.987 2.987 0 0 1-1.712 1.711 4.985 4.985 0 0 1-1.67.311c-.95.044-1.218.055-3.654.055-2.438 0-2.687 0-3.655-.055a4.96 4.96 0 0 1-1.669-.311 2.985 2.985 0 0 1-1.719-1.711 5.08 5.08 0 0 1-.311-1.669c-.043-.95-.053-1.218-.053-3.654 0-2.437 0-2.686.053-3.655a5.038 5.038 0 0 1 .311-1.687c.305-.789.93-1.41 1.719-1.712a5.01 5.01 0 0 1 1.669-.311c.951-.043 1.218-.055 3.655-.055s2.687 0 3.654.055a4.96 4.96 0 0 1 1.67.311 2.991 2.991 0 0 1 1.712 1.712 5.08 5.08 0 0 1 .311 1.669c.043.951.054 1.218.054 3.655 0 2.436 0 2.698-.043 3.654h-.011z">
                                </path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                                style="fill: rgb(255, 255, 255);">
                                <path
                                    d="M20 3H4a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM8.339 18.337H5.667v-8.59h2.672v8.59zM7.003 8.574a1.548 1.548 0 1 1 0-3.096 1.548 1.548 0 0 1 0 3.096zm11.335 9.763h-2.669V14.16c0-.996-.018-2.277-1.388-2.277-1.39 0-1.601 1.086-1.601 2.207v4.248h-2.667v-8.59h2.56v1.174h.037c.355-.675 1.227-1.387 2.524-1.387 2.704 0 3.203 1.778 3.203 4.092v4.71z">
                                </path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                                style="fill: rgb(255, 255, 255);">
                                <path
                                    d="M14.82 4.26a10.14 10.14 0 0 0-.53 1.1 14.66 14.66 0 0 0-4.58 0 10.14 10.14 0 0 0-.53-1.1 16 16 0 0 0-4.13 1.3 17.33 17.33 0 0 0-3 11.59 16.6 16.6 0 0 0 5.07 2.59A12.89 12.89 0 0 0 8.23 18a9.65 9.65 0 0 1-1.71-.83 3.39 3.39 0 0 0 .42-.33 11.66 11.66 0 0 0 10.12 0q.21.18.42.33a10.84 10.84 0 0 1-1.71.84 12.41 12.41 0 0 0 1.08 1.78 16.44 16.44 0 0 0 5.06-2.59 17.22 17.22 0 0 0-3-11.59 16.09 16.09 0 0 0-4.09-1.35zM8.68 14.81a1.94 1.94 0 0 1-1.8-2 1.93 1.93 0 0 1 1.8-2 1.93 1.93 0 0 1 1.8 2 1.93 1.93 0 0 1-1.8 2zm6.64 0a1.94 1.94 0 0 1-1.8-2 1.93 1.93 0 0 1 1.8-2 1.92 1.92 0 0 1 1.8 2 1.92 1.92 0 0 1-1.8 2z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <div class="q4">
                        <div class="q3">
                            <p>Company</p>

                            <div>
                                <p>About</p>
                                <p>Blog</p>
                                <p>Leadership</p>
                                <p>Careers</p>
                                <p>Legal</p>
                            </div>

                        </div>
                        <div class="q3">
                            <p>Products</p>
                            <div>
                                <p>API</p>
                                <p>Pricing</p>
                                <p>Documentation</p>
                                <p>Release Notes</p>
                            </div>
                        </div>
                        <div class="q3">
                            <p>Contact</p>
                            <div>
                                <p>Support</p>
                                <p>Sales</p>
                                <p>Report Abuse</p>
                                <p>System Status</p>
                            </div>
                        </div>

                    </div>
                </div>
            </footer>
        </div>

    </div>
    <script src="/js/pract2.js"></script>
</body>

</html>