<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/practical3.css">
</head>
<body>
    <div class="container">
        <div class="contain1">
            <header>
                <div>
                    <img src="/image/practical3/HireX_black.png" alt="">
                </div>

                <nav class="nav1">
                    <span>Works</span>
                    <span>AboutUs</span>
                    <span>Blogs</span>
                    <span>FAQs</span>
                    <span>Contact Us</span>
                    <button>We're Hiring<img src="/image/practical3/arrow-right.png" alt=""></button>
                </nav>
            </header>
        </div>
        <div class="contain2">
            <section class="section1">
                <div class="class1">
                    <div>
                        <p>WELCOME TO HIREX</p>
                        <img src="/image/practical3/Star 1.png" alt="">
                    </div>
                    <div>
                        <p>
                            Award Winning Digital Agency.
                        </p>
                    </div>
                    <div>
                        <p>Digital Agency offering Unique solutions to create digital presence and increase your sales.</p>
                    </div>
                    <div class="bds">
                        <input type="text" placeholder="Your email address"><input type="submit" value="Request Access">
                    </div>
                    <div class="bubbling">
                        <div class="text"><p>Open account and get 5 boxes</p></div>
                        <div class="empty"></div>
                        
                    </div>
                </div>
                <div class="position1">
                    <div class="pos1">
                        <img src="/image/practical3/image 2 (Traced).png" alt="">
                        <p>Web Design</p>
                    </div>
                    <div class="pos2">
                        <img src="/image/practical3/image 6 (Traced).png" alt="">
                        <p>Social Midia</p>
                    </div>
                    <div class="pos3">
                        <img src="/image/practical3/image 1 (Traced).png" alt="">
                        <p>UIX Design</p>
                    </div>
                    <div class="pos4">
                        <img src="/image/practical3/Group 6.png" alt="">
                    </div>
                    
                </div>
            </section>
        </div>
        <div class="contain3">
            <marquee behavior="" direction="" class="mark"> 
            <section class="section2">
                
                <div class="new">
                        <p>Get Access Now!</p>
                        <img src="/image/practical3/image-fBLQvAFN1-transformed 1.png" alt="">
                        <img src="/image/practical3/Line 4.png" alt="" class="img4">

                        <p>Get Access Now!</p>
                        <img src="/image/practical3/image-fBLQvAFN1-transformed 1.png" alt="">
                        <img src="/image/practical3/Line 4.png" alt="" class="img4">

                        <p>Get Access Now!</p>
                        <img src="/image/practical3/image-fBLQvAFN1-transformed 1.png" alt="">
                        <img src="/image/practical3/Line 4.png" alt="" class="img4">

                        <p>Get Access Now!</p>
                        <img src="/image/practical3/image-fBLQvAFN1-transformed 1.png" alt="">
                        <img src="/image/practical3/Line 4.png" alt="" class="img4">

                        <p>Get Access Now!</p>
                        <img src="/image/practical3/image-fBLQvAFN1-transformed 1.png" alt="">
                        <img src="/image/practical3/Line 4.png" alt="" class="img4">

                        <p>Get Access Now!</p>
                        <img src="/image/practical3/image-fBLQvAFN1-transformed 1.png" alt="">
                        <img src="/image/practical3/Line 4.png" alt="" class="img4">

                        <p>Get Access Now!</p>
                        <img src="/image/practical3/image-fBLQvAFN1-transformed 1.png" alt="">
                        <img src="/image/practical3/Line 4.png" alt="" class="img4">

                        <p>Get Access Now!</p>
                        <img src="/image/practical3/image-fBLQvAFN1-transformed 1.png" alt="">
                        <img src="/image/practical3/Line 4.png" alt="" class="img4">

                        <p>Get Access Now!</p>
                        <img src="/image/practical3/image-fBLQvAFN1-transformed 1.png" alt="">
                        <img src="/image/practical3/Line 4.png" alt="" class="img4">

                </div>      
                          
            </section>
        </marquee>
        </div>
        <div class="contain4">
            <section class="section3">
                <div>
                    <span>Services</span>
                    <p> How Hirex. Work</p>
                    <p>The awesome people who makes all this possible</p>
                </div>
                <div>
                    <div class="group1">
                        <p>START HERE</p>
                        <p>Who we are & what we do</p>
                        <img src="/image/practical3/Designer _Flatline 1.png" alt="">
                        <span>START HERE <img src="/image/practical3/arrow-right.png" alt=""></span>
                    </div>
                    <div class="group2">
                        <p>CUSTOM DESIGN</p>
                        <p>We'll design your projects</p>
                        <img src="/image/practical3/Notifications_Flatline 1.png" alt="">
                        <span>START HERE <img src="/image/practical3/arrow-right-black.svg" alt=""></span>
                    </div>
                    <div class="group3">
                        <p>CONTACT US</p>
                        <p>Drop us your message</p>
                        <img src="/image/practical3/Fortnite_Two Color 1.png" alt="">
                        <span>START HERE <img src="/image/practical3/arrow-right-black.svg" alt=""></span>
                    </div>
                </div>
            </section>
        </div>
        <div class="contain5">
            <section class="section4">
                <div>
                    <span>Works</span>
                    <p>Find our latest works</p>
                    <p>The awesome people who makes all this possible</p>
                </div>
                <div>
                    <div class="group4">
                        <div>
                            <img src="/image/practical3/Rectangle 13.png" alt="">
                        </div>
                        <div>
                            <p>Web Design</p>
                            <p>Website Design for Digital Agency</p>
                            <p>Build a unique Website with Hirex Template</p>
                            <a href="#">Read More <img src="/image/practical3/arrow-right-black.png" alt=""></a>
                        </div>
                    </div>
                    <div class="group5">
                        <div>
                            <img src="/image/practical3/Rectangle 13-1.png" alt="">
                        </div>
                        <div>
                            <p>3D Design</p>
                            <p>Realistic 3d Model of Living Room</p>
                            <p>Build a unique Website with Hirex Template</p>
                            <a href="#">Read More <img src="/image/practical3/arrow-right-black.svg" alt=""></a>
                        </div>
                        <div>
                            <span>View All <img src="/image/practical3/arrow-right-black.png" alt=""></span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="contain6">
            <section class="section5">
                <div class="group13">
                    <span>Plans & Pricing</span>
                    <p>The awesome people who makes all this possible</p>
                </div>
                <div class="group14">
                    <div class="group15">
                        <div>FREE</div>
                        <div>
                            <p>$0</p>
                            <sub>/MONTH</sub>
                        </div>
                        <div>
                            Start free while you learn more about our services
                        </div>
                        <div><hr></div>
                        <div>
                            <ul>
                                <li>Free forever get the basic essentials</li>
                                <li>Advanced security and performance</li>
                                <li>Unlimited unhosted sites</li>
                                <li>Live Support</li>
                            </ul>
                        </div>
                        <div>
                            <button class="bg5">GET STARTED</button>
                        </div>
                    </div>
                    <div class="group15">
                        <div>BASIC</div>
                        <div>
                            <p>$19</p>
                            <sub>/MONTH</sub>
                        </div>
                        <div>
                            Start free while you learn more about our services
                        </div>
                        <div><hr></div>
                        <div>
                            <ul>
                                <li>Free forever get the basic essentials</li>
                                <li>Advanced security and performance</li>
                                <li>Unlimited unhosted sites</li>
                                <li>Live Support</li>
                            </ul>
                        </div>
                        <div>
                            <button class="bg6">GET STARTED</button>
                        </div>
                    </div>
                    <div class="group15">
                        <div>PRO</div>
                        <div>
                            <p>$99</p>
                            <sub>/MONTH</sub>
                        </div>
                        <div>
                            Start free while you learn more about our services
                        </div>
                        <div><hr></div>
                        <div>
                            <ul>
                                <li>Free forever get the basic essentials</li>
                                <li>Advanced security and performance</li>
                                <li>Unlimited unhosted sites</li>
                                <li>Live Support</li>
                            </ul>
                        </div>
                        <div>
                            <button class="bg7">GET STARTED</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="contain7">
            <section class="section6">
                <div class="group6">
                    <div>
                        <img src="/image/practical3/arrow-left-2.png" alt="">
                    </div>
                    <div class="new1">
                        <div>
                            <img src="/image/practical3/testimonials-img.png" alt="">
                        </div>
                        <div>
                            <div><p>@mase.place</p></div>
                            <div>
                                <img src="/image/practical3/arrow_top-right.png" alt="">
                            </div>        
                        </div>   
                    </div>
                </div>
                <div>
                    <div class="group7">
                        <p>"We select to practice in Minerva since it is both useful, and our clients basically adore it! It has stood the test of time and proceeds"</p>
                        <p>Abel Carden is a TikTok personality and lip-sync content creator who has built a fanbase of more than 3.2 million followers on the platform.</p>
                    </div>
                    <div>
                        <img src="/image/practical3/arrow-right-2.png" alt="">
                    </div>
                    
                </div>
            </section>
        </div>

        <div class="contain8">
            <section class="section7">
                <div>
                    <span>Blog</span>
                    <p>Stay updated</p>

                </div>
                <div>
                    <div class="group8">
                        <div>
                            <img src="/image/practical3/Rectangle 19.png" alt="">
                        </div>
                        <div>
                            <p>Web Design</p>
                            <p>We Launch Minerva Template This Week</p>
                            <p>Build a unique Website with Hirex Template</p>
                            <a href="#">Read More <img src="/image/practical3/arrow-right-black.png" alt=""></a>
                        </div>
                    </div>
                    <div class="group9">
                        <div>
                            <img src="/image/practical3/Rectangle 20.png" alt="">
                        </div>
                        <div>
                            <p>Web Design</p>
                            <p>Introducing the Non-Code WebFlow Guide</p>
                            <p>Build a unique Website with Hirex Template</p>
                            <a href="#">Read More <img src="/image/practical3/arrow-right-black.svg" alt=""></a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        
         <div class="contain10"> 
            <section class="section9">
                <div>
                    <div>
                        <h2>Get our latest news & updates</h2>
                    </div>
                    <div class="g3">
                        <div class="g2">
                            <p>NAME</p>
                            <input type="text">
                        </div>
                        <div class="g2">
                            <p>EMAIL</p>
                            <input type="text">
                        </div>
                        <div class="g2">

                                <p>SUBSCRIBE</p>
                                <img src="/image/practical3/arrow-right-black.svg" alt="">

                            <input type="text">
                        </div>
                           
                    </div>
                </div>
                <div>
                    <p>We select to practice in Minerva since it is both useful and commonsense, and our clients basically adore it</p>
                    <p>Book a Call</p>
                </div>
            </section>
            
        </div>
        <div class="contain9">
            <marquee behavior="scroll" direction="left" class="mark" >
            <section class="section8">
                
                    <div class="new3">
                        <p>THANK YOU FOR YOUR VISIT</p>
                        <img src="/image/practical3/Line 4.png" alt="" class="img1">
                        <p>THANK YOU FOR YOUR VISIT</p>
                        <img src="/image/practical3/Group 59.png" alt="" class="img2">
                        <p>THANK YOU FOR YOUR VISIT</p>
                        <img src="/image/practical3/Line 4.png" alt="" class="img1">
                        <p>THANK YOU FOR YOUR VISIT</p>
                        <img src="/image/practical3/Group 59.png" alt="" class="img2">
                        <p>THANK YOU FOR YOUR VISIT</p>
                        <img src="/image/practical3/Line 4.png" alt="" class="img1">
                        <p>THANK YOU FOR YOUR VISIT</p>
                        <img src="/image/practical3/Group 59.png" alt="" class="img2">
                        <p>THANK YOU FOR YOUR VISIT</p>
                        <img src="/image/practical3/Line 4.png" alt="" class="img1">
                        <p>THANK YOU FOR YOUR VISIT</p>
                        <img src="/image/practical3/Group 59.png" alt="" class="img2">
                        <p>THANK YOU FOR YOUR VISIT</p>
                        <img src="/image/practical3/Line 4.png" alt="" class="img1">
                        <p>THANK YOU FOR YOUR VISIT</p>
                        <img src="/image/practical3/Group 59.png" alt="" class="img2">
                        <p>THANK YOU FOR YOUR VISIT</p>
                        <img src="/image/practical3/Line 4.png" alt="" class="img1">
                        <p>THANK YOU FOR YOUR VISIT</p>
                        <img src="/image/practical3/Group 59.png" alt="" class="img2">
                        <p>THANK YOU FOR YOUR VISIT</p>

                    </div>
                
            </section>
        </marquee>
        </div>  
        <div class="contain11">
            <footer>
                <div class="group10">
                    <img src="/image/practical3/HireX_black.png" alt="">
                    <hr>
                </div>
                <!-- <div>
                    <hr>
                </div> -->
                
                <div class="group11">
                    <div>
                        <div>
                            <p>Products</p>
                        </div>
                        <div>
                            <p>Platform</p>
                            <p>Store Overview</p>
                            <p>Email Reports</p>
                            <p>Portfolio</p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <p>Resources</p>
                        </div>
                        <div>
                            <p>Case Studies</p>
                            <p>Product Studies</p>
                            <p>Reports</p>
                            <p>Blog</p>
                            <p>FAQ</p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <p>Company</p>
                        </div>
                        <div>
                            <p>Careers</p>
                            <p>Contact Sales</p>
                            <p>Contact Support</p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <p>Partners</p>
                        </div>
                        <div>
                            <p>Partner With Us</p>
                        </div>
                    </div>
                </div>
                <div class="group12">
                    <div>
                        <p>Terms and Conditions</p>
                        <p>Privacy and Policy</p>
                    </div>
                    <p>&#169HIREX, Inc. 2022</p>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>