<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
       
        a{
            text-decoration: none;
            
        }
    </style>
</head>
<body>
    <div>
        <h3>List of Task</h3>
    </div>
    <div>
        <a href="http://localhost:8085/dynamictable">Dynamic Table</a>
    </div>
    <div>
        <a href="http://localhost:8085/kukuCube">Kuku Cube</a>
    </div>
    <div>
        <a href="http://localhost:8085/tic-tac-toe">Tic-Tac-Toe</a>
    </div>
    <div>
        <a href="http://localhost:8085/events">JS_Events</a>
    </div>
    <div>
        <a href="http://localhost:8085/practical1">ehya website</a>
    </div>
    <div>
        <a href="http://localhost:8085/practical2">Aman Hoster</a>
    </div>
    <div>
        <a href="http://localhost:8085/practical3">HireX_black</a>
    </div>
    <div>
        <a href="http://localhost:8085/job_app_form_1">Job_APP_FORM1</a>
    </div>
    <div>
        <a href="http://localhost:8085/job_app_form2">Job_APP_FORM2</a>
    </div>
    <div>
        <a href="http://localhost:8085/crud_fs/form">CRUD_Operation_FS_Module</a>
    </div>
    <div>
        <a href="http://localhost:8085/crud_db/form">CRUD_Operation_DB_Module</a>
    </div>
    <div>
        <a href="http://localhost:8085/student_list">Student_List_Pagination</a>
    </div>
    <div>
        <a href="http://localhost:8085/stud_attend">Student_Attendance_Pagination</a>
    </div>
    <div>
        <a href="http://localhost:8085/stud_result">Student_Result_Pagination</a>
    </div>
    <div>
        <a href="http://localhost:8085/dynamic">Dynamic_Pagination</a>
    </div>
    <div>
        <a href="http://localhost:8085/searching">Search_Delimiter_Pagination</a>
    </div>
    <div>
        <a href="http://localhost:8085/form">Job_App_Form(Insert_Update_Validation)</a>
    </div>
    <div>
        <a href="/display">Job_App_Form(Display)</a>
    </div>
</body>
</html>