<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="http://localhost:8085/dynamictable">Dynamic Table</a>
    </div>
    <div>
        <a href="http://localhost:8085/kukuCube">Kuku Cube</a>
    </div>
    <div>
        <a href="http://localhost:8085/tic-tac-toe">Tic-Tac-Toe</a>
    </div>
    <div>
        <a href="http://localhost:8085/practical1">ehya website</a>
    </div>
    <div>
        <a href="http://localhost:8085/practical2">Aman Hoster</a>
    </div>
    <div>
        <a href="http://localhost:8085/practical3">HireX_black</a>
    </div>
</body>
</html>