form{
    display:flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}


fieldset{
    display:flex;
    flex-direction: column;
    gap: 30px;
}
div{
    display: flex;
    gap: 5px;
}

input[type = submit]{
    background-color: white;
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}