tr:nth-child(even) td:nth-child(odd) {
    background-color: lightblue;
}

tr:nth-child(odd) td:nth-child(odd) {
    background-color: lightgreen;
}

tr:nth-child(odd) td:nth-child(even) {
    background-color: lightblue;
}

tr:nth-child(even) td:nth-child(even) {
    background-color: lightgreen;
}